Repository PRCOP-TEST-ORG/prcop-actions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PRCOP-TEST-ORG/infra-team, @PRCOP-TEST-ORG/front-team, @PRCOP-TEST-ORG/back-team, @PRCOP-TEST-ORG/mobile-team

update
  .github/actions/prcop/index.js
  scripts/prcop/index.js
Owners: none

Update index.ts
  amplify/index.ts
Owners: @PRCOP-TEST-ORG/infra-team

update
  .github/actions/prcop/index.js
  scripts/prcop/index.js
Owners: none

Update index.ts
  frontend/index.ts
Owners: @PRCOP-TEST-ORG/front-team

Update index.ts
  frontend/index.ts
Owners: @PRCOP-TEST-ORG/front-team

Update index.ts
  mobile/index.ts
Owners: @PRCOP-TEST-ORG/mobile-team

Update index.ts
  mobile/index.ts
Owners: @PRCOP-TEST-ORG/mobile-team

max test
  amplify/app.ts
  backend/model.ts
  frontend/front.ts
  mobile/mobile.ts
Owners: @PRCOP-TEST-ORG/infra-team, @PRCOP-TEST-ORG/back-team, @PRCOP-TEST-ORG/front-team, @PRCOP-TEST-ORG/mobile-team

test
  mobile/index.ts
Owners: @PRCOP-TEST-ORG/mobile-team

Update request review
  .github/actions/prcop/index.js
  scripts/prcop/index.js
Owners: none

update
  .github/actions/prcop/index.js
  scripts/prcop/index.js
Owners: none

Update index.ts
  frontend/index.ts
Owners: @PRCOP-TEST-ORG/front-team

all test
  amplify/index.ts
  backend/index.ts
  frontend/index.ts
  mobile/index.ts
Owners: @PRCOP-TEST-ORG/infra-team, @PRCOP-TEST-ORG/back-team, @PRCOP-TEST-ORG/front-team, @PRCOP-TEST-ORG/mobile-team

update
  .github/actions/prcop/index.js
  scripts/prcop/index.js
Owners: none

test
  amplify/index.ts
  backend/index.ts
  frontend/index.ts
  mobile/index.ts
Owners: @PRCOP-TEST-ORG/infra-team, @PRCOP-TEST-ORG/back-team, @PRCOP-TEST-ORG/front-team, @PRCOP-TEST-ORG/mobile-team

test
  .github/actions/prcop/index.js
  scripts/prcop/index.js
Owners: none

test
  amplify/index.ts
  backend/index.ts
  frontend/index.ts
  mobile/index.ts
Owners: @PRCOP-TEST-ORG/infra-team, @PRCOP-TEST-ORG/back-team, @PRCOP-TEST-ORG/front-team, @PRCOP-TEST-ORG/mobile-team

update
  .github/actions/prcop/index.js
  scripts/prcop/index.js
Owners: none

test
  amplify/index.ts
  backend/index.ts
  frontend/index.ts
  mobile/index.ts
Owners: @PRCOP-TEST-ORG/infra-team, @PRCOP-TEST-ORG/back-team, @PRCOP-TEST-ORG/front-team, @PRCOP-TEST-ORG/mobile-team

test
  .github/actions/prcop/index.js
  scripts/prcop/index.js
Owners: none

test
  amplify/index.ts
  backend/index.ts
  frontend/index.ts
  mobile/index.ts
Owners: @PRCOP-TEST-ORG/infra-team, @PRCOP-TEST-ORG/back-team, @PRCOP-TEST-ORG/front-team, @PRCOP-TEST-ORG/mobile-team

test
  .github/actions/prcop/index.js
  scripts/prcop/index.js
Owners: none

test
  .github/actions/prcop/index.js
  scripts/prcop/index.js
Owners: none

test
  amplify/index.ts
  backend/index.ts
  frontend/index.ts
  mobile/index.ts
Owners: @PRCOP-TEST-ORG/infra-team, @PRCOP-TEST-ORG/back-team, @PRCOP-TEST-ORG/front-team, @PRCOP-TEST-ORG/mobile-team

test change
  amplify/index.ts
  backend/index.ts
  frontend/index.ts
  mobile/index.ts
Owners: @PRCOP-TEST-ORG/infra-team, @PRCOP-TEST-ORG/back-team, @PRCOP-TEST-ORG/front-team, @PRCOP-TEST-ORG/mobile-team

updates
  .github/workflows/prcop.yaml
Owners: none

test
  amplify/index.ts
  backend/index.ts
  frontend/index.ts
  mobile/index.ts
Owners: @PRCOP-TEST-ORG/infra-team, @PRCOP-TEST-ORG/back-team, @PRCOP-TEST-ORG/front-team, @PRCOP-TEST-ORG/mobile-team

test
  amplify/index.ts
  backend/index.ts
  frontend/index.ts
  mobile/index.ts
Owners: @PRCOP-TEST-ORG/infra-team, @PRCOP-TEST-ORG/back-team, @PRCOP-TEST-ORG/front-team, @PRCOP-TEST-ORG/mobile-team

update
  .github/actions/prcop/index.js
  scripts/prcop/index.js
Owners: none

update
  amplify/index.ts
  backend/index.ts
  frontend/index.ts
  mobile/index.ts
Owners: @PRCOP-TEST-ORG/infra-team, @PRCOP-TEST-ORG/back-team, @PRCOP-TEST-ORG/front-team, @PRCOP-TEST-ORG/mobile-team

Update index.ts
  backend/index.ts
Owners: @PRCOP-TEST-ORG/back-team

Update index.ts
  mobile/index.ts
Owners: @PRCOP-TEST-ORG/mobile-team

test
  .github/actions/prcop/index.js
  scripts/prcop/index.js
Owners: none

test
  .github/actions/prcop/index.js
  scripts/prcop/index.js
Owners: none

Update index.ts
  mobile/index.ts
Owners: @PRCOP-TEST-ORG/mobile-team

Update index.ts
  backend/index.ts
Owners: @PRCOP-TEST-ORG/back-team

Update index.ts
  mobile/index.ts
Owners: @PRCOP-TEST-ORG/mobile-team

.github/CODEOWNERS:

/amplify @PRCOP-TEST-ORG/infra-team
/frontend @PRCOP-TEST-ORG/front-team
/backend @PRCOP-TEST-ORG/back-team
/mobile @PRCOP-TEST-ORG/mobile-team
